@charset "utf-8";
/* CSS Document */
.Copy{
	background:url(../img/ShareIcon.gif) -437px 0 no-repeat;
}
.SinaWeibo{
	background:url(../img/ShareIcon.gif) -56px 0 no-repeat;
}
.QQWeibo{
	background:url(../img/ShareIcon.gif) -332px 0 no-repeat;
}
.QQZone{
	background:url(../img/ShareIcon.gif) -387px 0 no-repeat;
}
.KaiXin001{
	background:url(../img/ShareIcon.gif) -140px 0 no-repeat;
}
.RenRen{
	background:url(../img/ShareIcon.gif) -84px 0 no-repeat;
}
.DouBan{
	background:url(../img/ShareIcon.gif) -253px 0 no-repeat;
}
.BaiduHi{
	background:url(../img/ShareIcon.gif) -360px 0 no-repeat;
}
.BaiduTieba{
	background:url(../img/ShareIcon.gif) -412px 0 no-repeat;
}
.TaoJiangHu{
	background:url(../img/ShareIcon.gif) -112px 0 no-repeat;
}
.SohuWeibo{
	background:url(../img/ShareIcon.gif) -279px 0 no-repeat;
}
.NeteaseWeibo{
	background:url(../img/ShareIcon.gif) -305px 0 no-repeat;
}
.FaceBook{
	background:url(../img/ShareIcon.gif) -168px 0 no-repeat;
}
.Twitter{
	background:url(../img/ShareIcon.gif) -196px 0 no-repeat;
}
.LinkedIn{
	background:url(../img/ShareIcon.gif) -224px 0 no-repeat;
}
.Weixin{
	background:url(../img/ShareIcon.gif) -29px 0 no-repeat;
}