@charset "utf-8";
/* CSS Document */
body,hr,p,th,td{
    margin: 0;
    padding: 0;
}
table{        
    border-collapse: collapse;
    border-spacing: 0;
}
body{
	font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
body{
	background-color:#dee;
}